In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType, IntegerType, DateType
from pyspark.sql import Window as W
import pyspark.sql.functions as F

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Library Management Analysis") \
    .getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/08 16:25:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Schema for 'branch' table
branch_schema = StructType([
    StructField("branch_id", StringType(), True),
    StructField("manager_id", StringType(), True),
    StructField("branch_address", StringType(), True),
    StructField("contact_no", StringType(), True)
])

# Schema for 'employees' table
employees_schema = StructType([
    StructField("emp_id", StringType(), True),
    StructField("emp_name", StringType(), True),
    StructField("position", StringType(), True),
    StructField("salary", FloatType(), True),
    StructField("branch_id", StringType(), True)
])

# Schema for 'books' table
books_schema = StructType([
    StructField("isbn", StringType(), True),
    StructField("book_title", StringType(), True),
    StructField("category", StringType(), True),
    StructField("rental_price", FloatType(), True),
    StructField("status", StringType(), True),
    StructField("author", StringType(), True),
    StructField("publisher", StringType(), True)
])

# Schema for 'issue_status' table
issue_status_schema = StructType([
    StructField("issued_id", StringType(), True),
    StructField("issued_member_id", StringType(), True),
    StructField("issued_book_name", StringType(), True),
    StructField("issued_date", DateType(), True),
    StructField("issued_book_isbn", StringType(), True),
    StructField("issued_emp_id", StringType(), True)
])

# Schema for 'return_status' table
return_status_schema = StructType([
    StructField("return_id", StringType(), True),
    StructField("issued_id", StringType(), True),
    StructField("return_book_name", StringType(), True),
    StructField("return_date", DateType(), True),
    StructField("return_book_isbn", StringType(), True)
])

# Schema for 'members' table
members_schema = StructType([
    StructField("member_id", StringType(), True),
    StructField("member_name", StringType(), True),
    StructField("member_address", StringType(), True),
    StructField("reg_date", DateType(), True)
])

# Load the CSV files into DataFrames
branch_df = spark.read.csv("/data/Library-System-Management/branch.csv", header=True, schema=branch_schema)
employees_df = spark.read.csv("/data/Library-System-Management/employees.csv", header=True, schema=employees_schema)
books_df = spark.read.csv("/data/Library-System-Management/books.csv", header=True, schema=books_schema)
issue_status_df = spark.read.csv("/data/Library-System-Management/issued_status.csv", header=True, schema=issue_status_schema)
return_status_df = spark.read.csv("/data/Library-System-Management/return_status.csv", header=True, schema=return_status_schema)
members_df = spark.read.csv("/data/Library-System-Management/members.csv", header=True, schema=members_schema)

# Register DataFrames as temporary views
branch_df.createOrReplaceTempView("branch")
employees_df.createOrReplaceTempView("employees")
books_df.createOrReplaceTempView("books")
issue_status_df.createOrReplaceTempView("issue_status")
return_status_df.createOrReplaceTempView("return_status")
members_df.createOrReplaceTempView("members")

views = ["branch","employees","books","issue_status","return_status","members"]
for view in views: 
    print(f"{view}")
    spark.sql('select * from '+view).show(20,False)
    print()

branch

+---------+----------+--------------+-------------+
|branch_id|manager_id|branch_address|contact_no   |
+---------+----------+--------------+-------------+
|B001     |E109      |123 Main St   |+919099988676|
|B002     |E109      |456 Elm St    |+919099988677|
|B003     |E109      |789 Oak St    |+919099988678|
|B004     |E110      |567 Pine St   |+919099988679|
|B005     |E110      |890 Maple St  |+919099988680|
+---------+----------+--------------+-------------+


employees

+------+----------------+---------+-------+---------+
|emp_id|emp_name        |position |salary |branch_id|
+------+----------------+---------+-------+---------+
|E101  |John Doe        |Clerk    |60000.0|B001     |
|E102  |Jane Smith      |Clerk    |45000.0|B002     |
|E103  |Mike Johnson    |Librarian|55000.0|B001     |
|E104  |Emily Davis     |Assistant|40000.0|B001     |
|E105  |Sarah Brown     |Assistant|42000.0|B001     |
|E106  |Michelle Ramirez|Assistant|43000.0|B001     |
|E107  |Michael Thompson|Clerk    |62000.0|B005     |
|E108  |Jessica Taylor  |Clerk    |46000.0|B004     |
|E109  |Daniel Anderson |Manager  |57000.0|B003     |
|E110  |Laura Martinez  |Manager  |41000.0|B005     |
|E111  |Christopher Lee |Assistant|65000.0|B005     |
+------+----------------+---------+-------+---------+


books
+-----------------+-----------------------------------------------------+----------------+------------+------+----------------------+-------------------------+
|isbn             |book_title                                           |category        |rental_price|status|author                |publisher                |
+-----------------+-----------------------------------------------------+----------------+------------+------+----------------------+-------------------------+
|978-0-553-29698-2|The Catcher in the Rye                               |Classic         |7.0         |yes   |J.D. Salinger         |Little, Brown and Company|
|978-0-330-25864-8|Animal Farm                                          |Classic         |5.5         |yes   |George Orwell         |Penguin Books            |
|978-0-14-118776-1|One Hundred Years of Solitude                        |Literary Fiction|6.5         |yes   |Gabriel Garcia Marquez|Penguin Books            |
|978-0-525-47535-5|The Great Gatsby                                     |Classic         |8.0         |yes   |F. Scott Fitzgerald   |Scribner                 |
|978-0-141-44171-6|Jane Eyre                                            |Classic         |4.0         |yes   |Charlotte Bronte      |Penguin Classics         |
|978-0-307-37840-1|The Alchemist                                        |Fiction         |2.5         |yes   |Paulo Coelho          |HarperOne                |
|978-0-679-76489-8|Harry Potter and the Sorcerers Stone                 |Fantasy         |7.0         |yes   |J.K. Rowling          |Scholastic               |
|978-0-7432-4722-4|The Da Vinci Code                                    |Mystery         |8.0         |yes   |Dan Brown             |Doubleday                |
|978-0-09-957807-9|A Game of Thrones                                    |Fantasy         |7.5         |yes   |George R.R. Martin    |Bantam                   |
|978-0-393-05081-8|A Peoples History of the United States               |History         |9.0         |yes   |Howard Zinn           |Harper Perennial         |
|978-0-19-280551-1|The Guns of August                                   |History         |7.0         |yes   |Barbara W. Tuchman    |Oxford University Press  |
|978-0-307-58837-1|Sapiens: A Brief History of Humankind                |History         |8.0         |no    |Yuval Noah Harari     |Harper Perennial         |
|978-0-375-41398-8|The Diary of a Young Girl                            |History         |6.5         |no    |Anne Frank            |Bantam                   |
|978-0-14-044930-3|The Histories                                        |History         |5.5         |yes   |Herodotus             |Penguin Classics         |
|978-0-393-91257-8|Guns, Germs, and Steel: The Fates of Human Societies |History         |7.0         |yes   |Jared Diamond         |W. W. Norton & Company   |
|978-0-7432-7357-1|1491: New Revelations of the Americas Before Columbus|History         |6.5         |no    |Charles C. Mann       |Vintage Books            |
|978-0-679-64115-3|1984                                                 |Dystopian       |6.5         |yes   |George Orwell         |Penguin Books            |
|978-0-14-143951-8|Pride and Prejudice                                  |Classic         |5.0         |yes   |Jane Austen           |Penguin Classics         |
|978-0-452-28240-7|Brave New World                                      |Dystopian       |6.5         |yes   |Aldous Huxley         |Harper Perennial         |
|978-0-670-81302-4|The Road                                             |Dystopian       |7.0         |yes   |Cormac McCarthy       |Knopf                    |
+-----------------+-----------------------------------------------------+----------------+------------+------+----------------------+-------------------------+
only showing top 20 rows


issue_status
+---------+----------------+----------------------------------------------------+-----------+-----------------+-------------+
|issued_id|issued_member_id|issued_book_name                                    |issued_date|issued_book_isbn |issued_emp_id|
+---------+----------------+----------------------------------------------------+-----------+-----------------+-------------+
|IS106    |C106            |Animal Farm                                         |2024-03-10 |978-0-330-25864-8|E104         |
|IS107    |C107            |One Hundred Years of Solitude                       |2024-03-11 |978-0-14-118776-1|E104         |
|IS108    |C108            |The Great Gatsby                                    |2024-03-12 |978-0-525-47535-5|E104         |
|IS109    |C109            |Jane Eyre                                           |2024-03-13 |978-0-141-44171-6|E105         |
|IS110    |C110            |The Alchemist                                       |2024-03-14 |978-0-307-37840-1|E105         |
|IS111    |C109            |Harry Potter and the Sorcerers Stone                |2024-03-15 |978-0-679-76489-8|E105         |
|IS112    |C109            |A Game of Thrones                                   |2024-03-16 |978-0-09-957807-9|E106         |
|IS113    |C109            |A Peoples History of the United States              |2024-03-17 |978-0-393-05081-8|E106         |
|IS114    |C109            |The Guns of August                                  |2024-03-18 |978-0-19-280551-1|E106         |
|IS115    |C109            |The Histories                                       |2024-03-19 |978-0-14-044930-3|E107         |
|IS116    |C110            |Guns, Germs, and Steel: The Fates of Human Societies|2024-03-20 |978-0-393-91257-8|E107         |
|IS117    |C110            |1984                                                |2024-03-21 |978-0-679-64115-3|E107         |
|IS118    |C101            |Pride and Prejudice                                 |2024-03-22 |978-0-14-143951-8|E108         |
|IS119    |C110            |Brave New World                                     |2024-03-23 |978-0-452-28240-7|E108         |
|IS120    |C110            |The Road                                            |2024-03-24 |978-0-670-81302-4|E108         |
|IS121    |C102            |The Shining                                         |2024-03-25 |978-0-385-33312-0|E109         |
|IS122    |C102            |Fahrenheit 451                                      |2024-03-26 |978-0-451-52993-5|E109         |
|IS123    |C103            |Dune                                                |2024-03-27 |978-0-345-39180-3|E109         |
|IS124    |C104            |Where the Wild Things Are                           |2024-03-28 |978-0-06-025492-6|E110         |
|IS125    |C105            |The Kite Runner                                     |2024-03-29 |978-0-06-112241-5|E110         |
+---------+----------------+----------------------------------------------------+-----------+-----------------+-------------+
only showing top 20 rows


return_status
+---------+---------+----------------+-----------+----------------+
|return_id|issued_id|return_book_name|return_date|return_book_isbn|
+---------+---------+----------------+-----------+----------------+
|RS101    |IS101    |NULL            |2023-06-06 |NULL            |
|RS102    |IS105    |NULL            |2023-06-07 |NULL            |
|RS103    |IS103    |NULL            |2023-08-07 |NULL            |
|RS104    |IS106    |NULL            |2024-05-01 |NULL            |
|RS105    |IS107    |NULL            |2024-05-03 |NULL            |
|RS106    |IS108    |NULL            |2024-05-05 |NULL            |
|RS107    |IS109    |NULL            |2024-05-07 |NULL            |
|RS108    |IS110    |NULL            |2024-05-09 |NULL            |
|RS109    |IS111    |NULL            |2024-05-11 |NULL            |
|RS110    |IS112    |NULL            |2024-05-13 |NULL            |
|RS111    |IS113    |NULL            |2024-05-15 |NULL            |
|RS112    |IS114    |NULL            |2024-05-17 |NULL            |
|RS113    |IS115    |NULL            |2024-05-19 |NULL            |
|RS114    |IS116    |NULL            |2024-05-21 |NULL            |
|RS115    |IS117    |NULL            |2024-05-23 |NULL            |
|RS116    |IS118    |NULL            |2024-05-25 |NULL            |
|RS117    |IS119    |NULL            |2024-05-27 |NULL            |
|RS118    |IS120    |NULL            |2024-05-29 |NULL            |
+---------+---------+----------------+-----------+----------------+


members
+---------+--------------+--------------+----------+
|member_id|member_name   |member_address|reg_date  |
+---------+--------------+--------------+----------+
|C101     |Alice Johnson |123 Main St   |2021-05-15|
|C102     |Bob Smith     |456 Elm St    |2021-06-20|
|C103     |Carol Davis   |789 Oak St    |2021-07-10|
|C104     |Dave Wilson   |567 Pine St   |2021-08-05|
|C105     |Eve Brown     |890 Maple St  |2021-09-25|
|C106     |Frank Thomas  |234 Cedar St  |2021-10-15|
|C107     |Grace Taylor  |345 Walnut St |2021-11-20|
|C108     |Henry Anderson|456 Birch St  |2021-12-10|
|C109     |Ivy Martinez  |567 Oak St    |2022-01-05|
|C110     |Jack Wilson   |678 Pine St   |2022-02-25|
|C118     |Sam           |133 Pine St   |2024-06-01|
|C119     |John          |143 Main St   |2024-05-01|
+---------+--------------+--------------+----------+

In [3]:
# Library-System-Management:
# List Members Who Have Issued More Than One Book -- Objective: Use GROUP BY to find members who have issued more than one 
spark.sql("""
          
          select issued_member_id as Counts from issue_status group by issued_member_id having count(issued_member_id) > 1
""").show(20,False)

+------+
|Counts|
+------+
|C109  |
|C110  |
|C102  |
|C106  |
|C105  |
|C107  |
|C108  |
+------+

In [6]:
# Find Total Rental Income by Category
spark.sql("""
          with cte as ( select * from books b join issue_status i 
          on b.isbn = i.issued_book_isbn)
        select sum(rental_price), category from cte group by category
""").show(20,False)

+-----------------+----------------+
|sum(rental_price)|category        |
+-----------------+----------------+
|13.0             |Horror          |
|7.5              |Children        |
|49.5             |History         |
|28.5             |Fantasy         |
|7.5              |Mystery         |
|59.0             |Classic         |
|14.5             |Fiction         |
|25.5             |Dystopian       |
|6.5              |Literary Fiction|
|8.5              |Science Fiction |
+-----------------+----------------+

In [8]:
# List Members Who Registered in the Last 180 Days
spark.sql("""
          select member_name, reg_date from members 
          where date_diff(current_date(), reg_date) <=180
""").show(20,False)

+-----------+----------+
|member_name|reg_date  |
+-----------+----------+
|Sam        |2024-06-01|
|John       |2024-05-01|
+-----------+----------+

In [15]:

# List Employees with Their Branch Manager's Name and their branch details
spark.sql("""
with cte as ( 
    select branch.branch_id,manager_id,branch_address,contact_no,emp_name from branch 
    join employees on branch.manager_id = employees.emp_id 
),
  cte2 as ( 
    select * from cte c join employees e on c.branch_id=e.branch_id
)        
    select * from cte2
""").show(20,False)

+---------+----------+--------------+-------------+---------------+------+----------------+---------+-------+---------+
|branch_id|manager_id|branch_address|contact_no   |emp_name       |emp_id|emp_name        |position |salary |branch_id|
+---------+----------+--------------+-------------+---------------+------+----------------+---------+-------+---------+
|B003     |E109      |789 Oak St    |+919099988678|Daniel Anderson|E109  |Daniel Anderson |Manager  |57000.0|B003     |
|B002     |E109      |456 Elm St    |+919099988677|Daniel Anderson|E102  |Jane Smith      |Clerk    |45000.0|B002     |
|B001     |E109      |123 Main St   |+919099988676|Daniel Anderson|E106  |Michelle Ramirez|Assistant|43000.0|B001     |
|B001     |E109      |123 Main St   |+919099988676|Daniel Anderson|E105  |Sarah Brown     |Assistant|42000.0|B001     |
|B001     |E109      |123 Main St   |+919099988676|Daniel Anderson|E104  |Emily Davis     |Assistant|40000.0|B001     |
|B001     |E109      |123 Main St   |+919099988676|Daniel Anderson|E103  |Mike Johnson    |Librarian|55000.0|B001     |
|B001     |E109      |123 Main St   |+919099988676|Daniel Anderson|E101  |John Doe        |Clerk    |60000.0|B001     |
|B005     |E110      |890 Maple St  |+919099988680|Laura Martinez |E111  |Christopher Lee |Assistant|65000.0|B005     |
|B005     |E110      |890 Maple St  |+919099988680|Laura Martinez |E110  |Laura Martinez  |Manager  |41000.0|B005     |
|B005     |E110      |890 Maple St  |+919099988680|Laura Martinez |E107  |Michael Thompson|Clerk    |62000.0|B005     |
|B004     |E110      |567 Pine St   |+919099988679|Laura Martinez |E108  |Jessica Taylor  |Clerk    |46000.0|B004     |
+---------+----------+--------------+-------------+---------------+------+----------------+---------+-------+---------+

In [19]:

# Retrieve the List of Books Not Yet Returned
spark.sql("""
          with cte as (
             select * from issue_status i 
                LEFT join return_status r on i.issued_id = r.issued_id
          )
          select * from cte WHERE return_date is NULL
""").show(20,False)

+---------+----------------+-----------------------------------------------------+-----------+-----------------+-------------+---------+---------+----------------+-----------+----------------+
|issued_id|issued_member_id|issued_book_name                                     |issued_date|issued_book_isbn |issued_emp_id|return_id|issued_id|return_book_name|return_date|return_book_isbn|
+---------+----------------+-----------------------------------------------------+-----------+-----------------+-------------+---------+---------+----------------+-----------+----------------+
|IS121    |C102            |The Shining                                          |2024-03-25 |978-0-385-33312-0|E109         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS122    |C102            |Fahrenheit 451                                       |2024-03-26 |978-0-451-52993-5|E109         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS123    |C103            |Dune                                                 |2024-03-27 |978-0-345-39180-3|E109         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS124    |C104            |Where the Wild Things Are                            |2024-03-28 |978-0-06-025492-6|E110         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS125    |C105            |The Kite Runner                                      |2024-03-29 |978-0-06-112241-5|E110         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS126    |C105            |Charlotte's Web                                      |2024-03-30 |978-0-06-440055-8|E110         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS127    |C105            |Beloved                                              |2024-03-31 |978-0-679-77644-3|E110         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS128    |C105            |A Tale of Two Cities                                 |2024-04-01 |978-0-14-027526-3|E110         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS129    |C105            |The Stand                                            |2024-04-02 |978-0-7434-7679-3|E110         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS130    |C106            |Moby Dick                                            |2024-04-03 |978-0-451-52994-2|E101         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS131    |C106            |To Kill a Mockingbird                                |2024-04-04 |978-0-06-112008-4|E101         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS132    |C106            |The Hobbit                                           |2024-04-05 |978-0-7432-7356-4|E106         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS133    |C107            |Angels & Demons                                      |2024-04-06 |978-0-7432-4722-5|E106         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS134    |C107            |The Diary of a Young Girl                            |2024-04-07 |978-0-375-41398-8|E106         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS135    |C107            |Sapiens: A Brief History of Humankind                |2024-04-08 |978-0-307-58837-1|E108         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS136    |C107            |1491: New Revelations of the Americas Before Columbus|2024-04-09 |978-0-7432-7357-1|E102         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS137    |C107            |The Catcher in the Rye                               |2024-04-10 |978-0-553-29698-2|E103         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS138    |C108            |The Great Gatsby                                     |2024-04-11 |978-0-525-47535-5|E104         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS139    |C109            |Harry Potter and the Sorcerers Stone                 |2024-04-12 |978-0-679-76489-8|E105         |NULL     |NULL     |NULL            |NULL       |NULL            |
|IS140    |C110            |Animal Farm                                          |2024-04-13 |978-0-330-25864-8|E102         |NULL     |NULL     |NULL            |NULL       |NULL            |
+---------+----------------+-----------------------------------------------------+-----------+-----------------+-------------+---------+---------+----------------+-----------+----------------+

In [ ]:
spark.stop()