In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType, IntegerType, DateType
from pyspark.sql import Window as W
import pyspark.sql.functions as F

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("RetailSales") \
    .getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/02 16:56:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Define the schema
schema = StructType([
    StructField("transactions_id", IntegerType(), True),
    StructField("sale_date", DateType(), True),
    StructField("sale_time", StringType(), True),  # TimeType can be replaced with StringType if needed
    StructField("customer_id", IntegerType(), True),
    StructField("gender", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("category", StringType(), True),
    StructField("quantity", IntegerType(), True),
    StructField("price_per_unit", FloatType(), True),
    StructField("cogs", FloatType(), True),  # Cost of Goods Sold
    StructField("total_sale", FloatType(), True)
])

# Read the CSV file into a DataFrame
df = spark.read.csv("/data/Retail-Sales-Analysis.csv", header=True, schema=schema)

df.createOrReplaceTempView("retail_sales")
spark.sql("SELECT * FROM retail_sales").show(20,False)

+---------------+----------+---------+-----------+------+---+-----------+--------+--------------+-----+----------+
|transactions_id|sale_date |sale_time|customer_id|gender|age|category   |quantity|price_per_unit|cogs |total_sale|
+---------------+----------+---------+-----------+------+---+-----------+--------+--------------+-----+----------+
|180            |2022-11-05|10:47:00 |117        |Male  |41 |Clothing   |3       |300.0         |129.0|900.0     |
|522            |2022-07-09|11:00:00 |52         |Male  |46 |Beauty     |3       |500.0         |145.0|1500.0    |
|559            |2022-12-12|10:48:00 |5          |Female|40 |Clothing   |4       |300.0         |84.0 |1200.0    |
|1180           |2022-01-06|08:53:00 |85         |Male  |41 |Clothing   |3       |300.0         |129.0|900.0     |
|1522           |2022-11-14|08:35:00 |48         |Male  |46 |Beauty     |3       |500.0         |235.0|1500.0    |
|1559           |2022-08-20|07:40:00 |49         |Female|40 |Clothing   |4       |300.0         |144.0|1200.0    |
|163            |2022-10-31|09:38:00 |144        |Female|64 |Clothing   |3       |50.0          |23.0 |150.0     |
|303            |2022-04-22|11:09:00 |54         |Male  |19 |Electronics|3       |30.0          |14.7 |90.0      |
|421            |2022-04-08|08:43:00 |66         |Female|37 |Clothing   |3       |500.0         |235.0|1500.0    |
|979            |2022-05-18|10:18:00 |6          |Female|19 |Beauty     |1       |25.0          |10.5 |25.0      |
|1163           |2022-05-04|10:52:00 |120        |Female|64 |Clothing   |3       |50.0          |27.0 |150.0     |
|1303           |2022-03-19|08:59:00 |58         |Male  |19 |Electronics|3       |30.0          |15.0 |90.0      |
|1421           |2022-01-17|07:07:00 |59         |Female|37 |Clothing   |3       |500.0         |185.0|1500.0    |
|1979           |2022-08-17|11:34:00 |102        |Female|19 |Beauty     |1       |25.0          |7.75 |25.0      |
|610            |2022-12-18|06:56:00 |137        |Female|26 |Beauty     |2       |300.0         |93.0 |600.0     |
|1610           |2022-11-23|10:18:00 |1          |Female|26 |Beauty     |2       |300.0         |102.0|600.0     |
|32             |2022-07-16|09:11:00 |150        |Male  |30 |Beauty     |3       |30.0          |8.4  |90.0      |
|231            |2022-07-09|07:02:00 |50         |Female|23 |Clothing   |3       |50.0          |26.5 |150.0     |
|683            |2022-03-06|10:22:00 |82         |Male  |38 |Beauty     |2       |500.0         |175.0|1000.0    |
|1032           |2022-04-01|08:15:00 |1          |Male  |30 |Beauty     |3       |30.0          |10.5 |90.0      |
+---------------+----------+---------+-----------+------+---+-----------+--------+--------------+-----+----------+
only showing top 20 rows

In [3]:
# sql 
# WINDOW - ROW NUMBER / RANK / LAG / LEAD 
# Nested queries
# Subqueries
# retail_sales
spark.sql("""
select *, row_number() over () from retail_sales  
""").show(20,False)

+---------------+----------+---------+-----------+------+---+-----------+--------+--------------+-----+----------+
|transactions_id|sale_date |sale_time|customer_id|gender|age|category   |quantity|price_per_unit|cogs |total_sale|
+---------------+----------+---------+-----------+------+---+-----------+--------+--------------+-----+----------+
|180            |2022-11-05|10:47:00 |117        |Male  |41 |Clothing   |3       |300.0         |129.0|900.0     |
|522            |2022-07-09|11:00:00 |52         |Male  |46 |Beauty     |3       |500.0         |145.0|1500.0    |
|559            |2022-12-12|10:48:00 |5          |Female|40 |Clothing   |4       |300.0         |84.0 |1200.0    |
|1180           |2022-01-06|08:53:00 |85         |Male  |41 |Clothing   |3       |300.0         |129.0|900.0     |
|1522           |2022-11-14|08:35:00 |48         |Male  |46 |Beauty     |3       |500.0         |235.0|1500.0    |
|1559           |2022-08-20|07:40:00 |49         |Female|40 |Clothing   |4       |300.0         |144.0|1200.0    |
|163            |2022-10-31|09:38:00 |144        |Female|64 |Clothing   |3       |50.0          |23.0 |150.0     |
|303            |2022-04-22|11:09:00 |54         |Male  |19 |Electronics|3       |30.0          |14.7 |90.0      |
|421            |2022-04-08|08:43:00 |66         |Female|37 |Clothing   |3       |500.0         |235.0|1500.0    |
|979            |2022-05-18|10:18:00 |6          |Female|19 |Beauty     |1       |25.0          |10.5 |25.0      |
|1163           |2022-05-04|10:52:00 |120        |Female|64 |Clothing   |3       |50.0          |27.0 |150.0     |
|1303           |2022-03-19|08:59:00 |58         |Male  |19 |Electronics|3       |30.0          |15.0 |90.0      |
|1421           |2022-01-17|07:07:00 |59         |Female|37 |Clothing   |3       |500.0         |185.0|1500.0    |
|1979           |2022-08-17|11:34:00 |102        |Female|19 |Beauty     |1       |25.0          |7.75 |25.0      |
|610            |2022-12-18|06:56:00 |137        |Female|26 |Beauty     |2       |300.0         |93.0 |600.0     |
|1610           |2022-11-23|10:18:00 |1          |Female|26 |Beauty     |2       |300.0         |102.0|600.0     |
|32             |2022-07-16|09:11:00 |150        |Male  |30 |Beauty     |3       |30.0          |8.4  |90.0      |
|231            |2022-07-09|07:02:00 |50         |Female|23 |Clothing   |3       |50.0          |26.5 |150.0     |
|683            |2022-03-06|10:22:00 |82         |Male  |38 |Beauty     |2       |500.0         |175.0|1000.0    |
|1032           |2022-04-01|08:15:00 |1          |Male  |30 |Beauty     |3       |30.0          |10.5 |90.0      |
+---------------+----------+---------+-----------+------+---+-----------+--------+--------------+-----+----------+
only showing top 20 rows

In [1]:
# Write a SQL query to calculate the total sales (total_sale) for each category
spark.sql("""
      SELECT SUM(total_sale) from retail_sales group by category    
""").show(20,False)

NameError: name 'spark' is not defined

In [ ]:
# Write a SQL query to find the average age of customers who purchased items from the 'Beauty' category
spark.sql("""
          
""").show(20,False)

In [ ]:
# Write a SQL query to find the total number of transactions (transaction_id) made by each gender in each category
spark.sql("""
          
""").show(20,False)

In [ ]:
# Write a SQL query to find the top 5 customers based on the highest total 
spark.sql("""
          
""").show(20,False)

In [ ]:
# Write a SQL query to find the number of unique customers who purchased items from each category
spark.sql("""
          
""").show(20,False)

In [ ]:
# Write a SQL query to create each shift and number of orders (Example Morning <12, Afternoon Between 12 & 17, Evening >17)
spark.sql("""
          
""").show(20,False)

In [ ]:
# Write a SQL query to calculate the average sale for each month. Find out best selling month in each year
spark.sql("""
          
""").show(20,False)

In [4]:
spark.stop()